* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  max-width: 90%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  width: 100%;
  height: 80vh;
  background: #6100C1;
}
.header .Navcontainer {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}
.header .navParent {
  display: flex;
  justify-content: space-between;
}
.header .navParent .logo a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.header .navParent .contact a {
  background: #B2D93A;
  color: #6100C1;
  padding: 1rem 2rem;
  border-radius: 1.7rem 0.5rem;
  text-decoration: none;
}
.header .headerParent {
  display: flex;
  height: 70vh;
}
.header .headerParent .headerContent {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header .headerParent .headerContent .headerLeft h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.header .headerParent .headerContent .headerLeft .playGameBtn {
  background: #FF7D56;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 0.5rem 2rem;
}
.header .headerParent .headerContent .headerLeft p {
  line-height: 1.7rem;
  margin: 1.3rem 0 2.3rem 0;
}
.header .headerParent .headerImg {
  width: 50%;
  text-align: center;
  position: relative;
}
.header .headerParent .headerImg .header-Right .headerIcons {
  position: absolute;
}
.header .headerParent .headerImg .header-Right #artiIcon {
  right: 0;
  top: 50%;
  animation: artiIcon linear 2s infinite;
}
.header .headerParent .headerImg .header-Right #piIcon {
  left: 50%;
  animation: piIcon linear 2s infinite;
}
.header .headerParent .headerImg .header-Right #karekokIcon {
  left: 10%;
  top: 60%;
  animation: karekokIcon linear 2s infinite;
}
@media screen and (max-width: 1000px) {
  .header .Navcontainer {
    width: 95%;
  }
  .header .container {
    width: 95%;
  }
  .header .headerParent {
    height: 63vh;
  }
  .header .headerParent .headerImg {
    display: none;
  }
  .header .headerParent .headerContent {
    width: 100%;
  }
  .header .headerParent .headerContent h1 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
}

@keyframes artiIcon {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(10px) translateY(5px);
  }
  50% {
    transform: translateX(0) translateY(10px);
  }
  75% {
    transform: translateX(-10px) translateY(5px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes piIcon {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(5px) translateY(10px);
  }
  50% {
    transform: translateX(10) translateY(0px);
  }
  75% {
    transform: translateX(5px) translateY(-10px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
@keyframes karekokIcon {
  0% {
    transform: translateX(0) translateY(0);
  }
  25% {
    transform: translateX(7px) translateY(12px);
  }
  50% {
    transform: translateX(8px) translateY(4px);
  }
  75% {
    transform: translateX(10px) translateY(-4px);
  }
  100% {
    transform: translateX(0) translateY(0);
  }
}
.aboutCard .aboutCardParent {
  width: 100%;
  height: 20vh;
  background: white;
  transform: translateY(-20%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.aboutCard .aboutCardParent .aboutCardContent {
  display: flex;
  justify-content: space-between;
}
.aboutCard .aboutCardParent .card {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
.aboutCard .aboutCardParent .card h4 {
  margin-top: 0.5rem;
  color: #4e4e4e;
}
@media screen and (max-width: 650px) {
  .aboutCard .container {
    width: 95%;
  }
  .aboutCard .aboutCardParent {
    height: auto;
    transform: translateY(-5%);
  }
  .aboutCard .aboutCardParent .aboutCardContent {
    display: block;
  }
  .aboutCard .aboutCardParent .aboutCardContent .card {
    padding-top: 0;
    padding: 1.4rem 0;
  }
}

button, input {
  width: 100%;
  height: 2rem;
  margin-top: 0.5rem;
  display: block;
}/*# sourceMappingURL=style.css.map */