* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  width: 80%;
  margin: auto;
}

img {
  max-width: 90%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

.header {
  width: 100%;
  height: 80vh;
  background: #6100C1;
}
.header .Navcontainer {
  width: 80%;
  margin: auto;
  padding-top: 2rem;
}
.header .navParent {
  display: flex;
  justify-content: space-between;
}
.header .navParent .logo a {
  font-size: 2rem;
  color: white;
  text-decoration: none;
}
.header .navParent .contact a {
  background: #B2D93A;
  color: #6100C1;
  padding: 1rem 2rem;
  border-radius: 10px;
  text-decoration: none;
}
.header .headerParent {
  display: flex;
  height: 70vh;
}
.header .headerParent .headerContent {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
}
.header .headerParent .headerContent .headerLeft h1 {
  font-size: 2.5rem;
  line-height: 3.5rem;
}
.header .headerParent .headerContent .headerLeft .playGameBtn {
  background: #FF7D56;
  color: white;
  text-decoration: none;
  padding: 1rem 2rem;
  border-radius: 10px;
}
.header .headerParent .headerContent .headerLeft p {
  line-height: 1.7rem;
  margin: 1.3rem 0 2.3rem 0;
}
.header .headerParent .headerImg {
  width: 50%;
  text-align: center;
  position: relative;
}
.header .headerParent .headerImg .header-Right .headerIcons {
  position: absolute;
}
.header .headerParent .headerImg .header-Right #artiIcon {
  right: 0;
  top: 50%;
  transition: 4s;
}
.header .headerParent .headerImg .header-Right #piIcon {
  left: 50%;
  transition: 4s;
}
.header .headerParent .headerImg .header-Right #karekokIcon {
  left: 10%;
  top: 60%;
  transition: 4s;
}
@media screen and (max-width: 1000px) {
  .header .navParent .contact {
    margin-top: 0.6rem;
  }
  .header .navParent .contact a {
    padding: 0.7rem 1rem;
  }
  .header .Navcontainer {
    width: 95%;
  }
  .header .container {
    width: 95%;
  }
  .header .headerParent {
    height: 63vh;
  }
  .header .headerParent .headerImg {
    display: none;
  }
  .header .headerParent .headerContent {
    width: 100%;
  }
  .header .headerParent .headerContent h1 {
    font-size: 2rem !important;
    line-height: 2.5rem !important;
  }
}

.aboutCard .aboutCardParent {
  width: 100%;
  height: 20vh;
  background: white;
  transform: translateY(-20%);
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.aboutCard .aboutCardParent .aboutCardContent {
  display: flex;
  justify-content: space-between;
}
.aboutCard .aboutCardParent .card {
  width: 100%;
  text-align: center;
  padding-top: 2rem;
}
.aboutCard .aboutCardParent .card h4 {
  margin-top: 0.5rem;
  color: #4e4e4e;
}
@media screen and (max-width: 650px) {
  .aboutCard .container {
    width: 95%;
  }
  .aboutCard .aboutCardParent {
    height: auto;
    transform: translateY(-5%);
  }
  .aboutCard .aboutCardParent .aboutCardContent {
    display: block;
  }
  .aboutCard .aboutCardParent .aboutCardContent .card {
    padding-top: 0;
    padding: 1.4rem 0;
  }
}

.gameBody {
  background-color: #6100C1;
}
.gameBody .gameContent {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.gameBody .gameContent .oyunBasla {
  width: 40%;
  background: white;
  border-radius: 10px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 1rem;
}
.gameBody .gameContent .oyunBasla .oyunBaslaContent {
  width: 100%;
}
.gameBody .gameContent .oyunBasla .oyunBaslaContent .kural {
  margin-top: 2rem;
  display: flex;
}
.gameBody .gameContent .oyunBasla .oyunBaslaContent .kural .kuralImg {
  width: 15%;
}
.gameBody .gameContent .oyunBasla .oyunBaslaContent .kural .kuralAciklama {
  width: 80%;
  margin-left: 1rem;
  display: flex;
  align-items: center;
}
.gameBody .gameContent .oyunBasla h3 {
  color: #4e4e4e;
}
.gameBody .gameContent .oyunBasla button {
  width: 100%;
  height: 4rem;
  background: #FF7D56;
  border: none;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 2rem;
  bottom: 0;
}
.gameBody .gameContent .oyun {
  display: none;
  background: white;
  padding: 2rem 1rem;
  border-radius: 10px;
  width: 40%;
  text-align: center;
}
.gameBody .gameContent .oyun .soruDiv {
  background: #6100C1;
  display: inline-block;
  margin-top: 1rem;
  padding: 1rem 2rem;
  color: white;
  border-radius: 1rem;
}
.gameBody .gameContent .oyun button {
  width: 100%;
  height: 3rem;
  margin-top: 1rem;
  display: block;
  background: transparent;
  cursor: pointer;
  border: 1px solid gray;
  background: #ebebeb;
  border-radius: 0.5rem;
}
.gameBody .gameContent .oyun .soruAtla {
  border: none;
  height: 3rem;
  color: white;
  cursor: pointer;
  border-radius: 10px;
  background: #FF7D56;
}
.gameBody .gameContent .oyun .timeProgress {
  width: 100%;
  height: 1.5rem;
  border: 1px solid #FF7D56;
  margin-bottom: 1rem;
}
.gameBody .gameContent .oyun .timeProgress .timeProgressContent {
  background-color: #FF7D56;
  height: 100%;
  width: 0px;
}
.gameBody .gameContent .cevapAlani {
  display: none;
  background: white;
  color: #6100C1;
  padding: 2rem;
}
.gameBody .gameContent .cevapAlani button {
  width: 100%;
  height: 3rem;
  background: #FF7D56;
  border: none;
  color: white;
  margin-top: 1rem;
}
@media screen and (max-width: 1000px) {
  .gameBody .gameContent .oyunBasla {
    width: 100%;
    height: 100%;
  }
  .gameBody .gameContent .oyunBasla button {
    border-radius: 0 0 0 0 !important;
  }
  .gameBody .gameContent .oyun, .gameBody .gameContent .cevapAlani {
    width: 95%;
  }
}/*# sourceMappingURL=style.css.map */