*
    margin: 0
    padding: 0
    box-sizing: border-box

.container
    width: 80%
    margin: auto

img
    max-width: 90%

body
    font-family: 'Ubuntu', sans-serif

$bgColor: #6100C1
$btnBg: #FF7D56
$blackText : #4e4e4e

.header
    width: 100%
    height: 80vh
    background: $bgColor
    nav
    .Navcontainer
        width: 80%
        margin: auto
        padding-top: 2rem
    .navParent
        display: flex
        justify-content: space-between
        .logo
            a
                font-size: 2rem
                color: white
                text-decoration: none
        .contact
            a
                background: #B2D93A
                color: $bgColor
                padding: 1rem 2rem
                border-radius: 1.7rem .5rem
                text-decoration: none
    .headerParent
        display: flex
        height: 70vh
        .headerContent
            width: 50%
            display: flex
            align-items: center
            justify-content: center
            color: white
            .headerLeft
                h1
                    font-size: 2.5rem
                    line-height: 3.5rem
                .playGameBtn
                    background: $btnBg
                    color: white
                    text-decoration: none
                    padding: 1rem 2rem
                    border-radius: .5rem 2rem
                p
                    line-height: 1.7rem
                    margin: 1.3rem 0 2.3rem 0
        .headerImg
            width: 50%
            text-align: center
            position: relative
            .header-Right
                .headerIcons
                    position: absolute
                #artiIcon
                    right: 0
                    top: 50%
                    transition: 4s
                #piIcon
                    left: 50%
                    transition: 4s
                #karekokIcon
                    left: 10%
                    top: 60%
                    transition: 4s
    @media screen and (max-width:1000px)
        .Navcontainer
            width: 95%
        .container
            width: 95%
        .headerParent
            height: 63vh
            .headerImg
                display: none
            .headerContent
                width: 100%
                h1
                    font-size: 2rem !important
                    line-height: 2.5rem !important
.aboutCard
    .aboutCardParent
        width: 100%
        height: 20vh
        background: white
        transform: translateY(-20%)
        box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px
        .aboutCardContent
            display: flex
            justify-content: space-between
        .card
            width: 100%
            text-align: center
            padding-top: 2rem
            h4
                margin-top: .5rem
                color: $blackText
    @media screen and (max-width:650px)
        .container
            width: 95%
        .aboutCardParent
            height: auto
            transform: translateY(-5%)
            .aboutCardContent
                display: block
                .card
                    padding-top: 0
                    padding: 1.4rem 0 
    
button,input
    width: 100%
    height: 2rem
    margin-top: .5rem
    display: block




